/* CSS General  */

* {
    margin: 0px;
    padding: opx;
}
body {
    font: 200 14px 'Poppins', sans-serif;
    background-color: #222;
    color: white;
}
h2 {
    line-height: 36px;
    font-size: 36px;
}
h3 {
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
section {
    padding: 10px 100px 10px 100px;
}
p {
    text-align: justify;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid white;
    padding-top: 10px;
    text-align: center;
}
nav ul {
    display: inline-block;
}
nav ul li {
    padding-top: 6px;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
li {
    float: left;
    margin-right: 15px;
    padding-inline-start: 0px;
}
a{
    text-decoration: none;
}
a:any-link {
    color: white;

}
a:-moz-any-link {
    color: white;
}
a:-webkit-any-link {
    color: white;
}
a:hover{
    color: #ffc900;
}
i:hover {
    color: #ffc900;
}
button { 
    border-radius: 10px;
}

/* CSS de ID y Class */
.subtittle {
    color: #ffc900;
}

#Social-Media {
    margin-top: 20px;
    font-size: 40px;
}
#Inicio {
    padding-top: 75px;
    background-image: url(../Img/Banner.jpg);
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}

#logoHernandez {
    padding-top: 0px;
    color: #ffc900;
    font-size: 20px;
}

#Portfolio {
    border-top: 1px solid #ffc900;

}
/* DropdownMenu About me */
.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
    border-radius: 25px;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #ffc900;
	color: #222;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #ffc80094;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
.dropdownmenu li:hover ul#submenu {
	opacity: 1;
	top: 40px;
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}

#submenu a{
    color: white;
}

#submenu a:hover {
	background: #ffc900;
    color: #222;
}
#submenu a {
	background-color:#000000;
}

#ddMenufirstButton{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#ddMenulastButton{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Grid About Me */

#About-me {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#About-me h2{
    margin-bottom: 15px;
}

#About-me-bar{
    display: grid;
    justify-content: center;
}

#About-me .dropdownmenu {
    margin-top: 35px;
    align-items: center;
}


/* Cards Portfolio */
.filaPortfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card {
    width: 267px;
    background-color: #191919;
    border-radius: 15px;
}
.card img {
    border-radius: 15px 15px 0px 0px;
}
.card h3{
color: #ffc900;
}
.card h4 {
    margin: 0px 5px 5px 0px;
}
.card .masinfo {
    margin: 15px 0px 15px 0px;
    height: 26px;
}
.card .masinfo button {
    background-color: #ffc900;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}
.card .sep{
    margin: 0 5px 5px 0;
    border: 1px solid #ffc900;
}
.card button {
    padding: 5px;
    margin-top: 5px;
}

.card h3, .card h4, .card p, .card .masinfo {
    padding: 0px 15px;
}

#Experience {
    background-color: white ;
    color: #222;
}

#Experience h2, #Portfolio h2 {
    text-align: center;
}
#Experience h3, #Portfolio h3 {
    text-align: center;
    margin-bottom: 30px;
}