/* CSS General  */

* {
    margin: 0px;
    padding: opx;
}
body {
    font: 200 14px 'Poppins', sans-serif;
    background-color: #222;
    color: white;
}
h2 {
    line-height: 36px;
    font-size: 36px;
}
h3 {
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
section {
    padding: 10px 100px 10px 100px;
}
p {
    text-align: justify;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid white;
    padding-top: 10px;
    text-align: center;
}
nav ul {
    display: inline-block;
}
nav ul li {
    padding-top: 6px;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
li {
    float: left;
    margin-right: 15px;
    padding-inline-start: 0px;
}
a{
    text-decoration: none;
}
a:any-link {
    color: white;

}
a:-moz-any-link {
    color: white;
}
a:-webkit-any-link {
    color: white;
}
a:hover{
    color: #ffc900;
}
i:hover {
    color: #ffc900;
}

/* CSS de ID y Class */
.subtittle {
    color: #ffc900;
}

#Social-Media {
    margin-top: 20px;
    font-size: 40px;
}
#Inicio {
    padding-top: 75px;
    background-image: url(../Img/Banner.jpg);
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}

#logoHernandez {
    padding-top: 0px;
    color: #ffc900;
    font-size: 20px;
}
/* #About-me {

} */
#Portfolio {
    border-top: 1px solid #ffc900;

}
#Experience {
    background-color: white ;
    color: #222;
}